{% extends 'base.html.twig' %}

{% block title %}Edit Categorie2{% endblock %}

{% block body %}
    <h1>Edit Categorie2</h1>

    {{ include('categorie2/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie2_index') }}">back to list</a>

    {{ include('categorie2/_delete_form.html.twig') }}
{% endblock %}
